<section
    class="container-profile">
    <nav
        class="container-nav">
        <ul 
            class="nav-container">
            <li
                class="li-container active">
                <a 
                    href=""
                    class="link-informacion">
                    <span>Informacion principal</span>
                    <div 
                        class="icon-container">
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                </a>
            </li>
            <li
                class="li-container">
                <a
                    routerLink="['home','myinventary']"
                    class="link-informacion">
                    <span>Mi inventario</span>
                    <div 
                        class="icon-container">
                        <fa-icon [icon]="faBoxes"></fa-icon>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <form
        (ngSubmit)="updatePerson()"
        [formGroup]="formPerson"
        class="form-profile">
        <div 
            class="item-profile">
            <span>Codigo sap</span>
            <div 
                class="field">
                <input
                    [class.error-input]="formPerson.controls.primerNombre.invalid && formPerson.controls.primerNombre.dirty"
                    [class.success-input]="formPerson.controls.primerNombre.valid && this.formPerson.controls.primerNombre.dirty"
                    formControlName="codigoSap"
                    class="container-input input input-light min-width" 
                    type="text">
            </div>
        </div>
        <div 
            class="item-profile">
            <span>Primer nombre</span>
            <div 
                class="field">
                <input
                    [class.error-input]="formPerson.controls.primerNombre.invalid && formPerson.controls.primerNombre.dirty"
                    [class.success-input]="formPerson.controls.primerNombre.valid && this.formPerson.controls.primerNombre.dirty"
                    formControlName="primerNombre"
                    class="container-input input input-light min-width" 
                    type="text">
                <span
                    class="text-example">
                    Ejemplo: "Jose"
                </span>
            </div>
        </div>
        <div class="item-profile">
            <span>Segundo nombre</span>
            <div 
                class="field">
                <input
                    [class.error-input]="formPerson.controls.segundoNombre.invalid && formPerson.controls.segundoNombre.dirty"
                    [class.success-input]="formPerson.controls.segundoNombre.valid && this.formPerson.controls.segundoNombre.dirty"
                    formControlName="segundoNombre"
                    class="container-input input input-light min-width" 
                    type="text">
            </div>
        </div>
        <div 
            class="item-profile">
            <span>Primer apellido</span>
            <div
                class="field">
                <input
                    [class.error-input]="formPerson.controls.primerApellido.invalid && formPerson.controls.primerApellido.dirty"
                    [class.success-input]="formPerson.controls.primerApellido.valid && this.formPerson.controls.primerApellido.dirty"
                    formControlName="primerApellido"
                    class="container-input input input-light min-width" 
                    type="text">
            </div>
            <span
                class="text-example">
                Ejemplo: "Perez"
            </span>
        </div>
        <div
            class="item-profile">
            <span>Segundo apellido</span>
            <div
                class="field">
                <input 
                    [class.error-input]="formPerson.controls.segundoApellido.invalid && formPerson.controls.segundoApellido.dirty"
                    [class.success-input]="formPerson.controls.segundoApellido.valid && this.formPerson.controls.segundoApellido.dirty"
                    formControlName="segundoApellido"
                    class="container-input input input-light min-width" 
                    type="text">
            </div>
        </div>
        <div
            class="item-profile">
            <span>Fecha nacimiento</span>
            <div
                class="field">
                <input
                    [class.error-input]="formPerson.controls.fechaNacimiento.invalid && formPerson.controls.fechaNacimiento.dirty"
                    [class.success-input]="formPerson.controls.fechaNacimiento.valid && this.formPerson.controls.fechaNacimiento.dirty" 
                    formControlName="fechaNacimiento"
                    class="container-input input input-light min-width" 
                    type="text">
            </div>
            <span
                class="text-example">
                Ejemplo: "05/10/1997"
            </span>
        </div>
        <div
        class="item-profile">
        <span>Numero de identidad</span>
        <div
            class="field">
                <input
                    [class.error-input]="formPerson.controls.identidad.invalid && formPerson.controls.identidad.dirty"
                    [class.success-input]="formPerson.controls.identidad.valid && this.formPerson.controls.identidad.dirty" 
                    formControlName="identidad"
                    class="container-input input input-light min-width" 
                    type="text">
            </div>
            <span
                class="text-example">
                Ejemplo: "0801199800181"
            </span>
        </div>
        <div
            class="item-profile content-area">
            <span>Direccion</span>
            <textarea
                formControlName="direccion"
                class="textarea-profile"
                name="" 
                id="" 
                cols="30" 
                rows="5">
            </textarea>
        </div>
        <button 
            class="button button-solid main text-start min-width">
            <span>Actualizar informacion</span>
            <div class="background-hover"></div>
        </button>
    </form>
</section>
