<div class="container-inv">
    <app-breadcrumb
        [url]="['Inventario']">
    </app-breadcrumb>
    <app-no-connection
        class="error-container"
        *ngIf="errorRequest">
    </app-no-connection>
    <div
        *ngIf="!data && !errorRequest" 
        class="container-loading">
        <div class="loading">
            <app-loading>
            </app-loading>
            <span>Cargando...</span>
        </div>
    </div>
    <app-table 
    *ngIf="data.length > 0"
    [data]="data"
    [headers]="['ID','Nombre','Numero Serie', 'Numero Inventario', 'Marca', 'Estado', 'Usuario', 'Equipo']"
    [paginationShow]="false">
    </app-table>
</div>
