.container-profile{
    
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--heigthHeader) 0px 0px 0px;

}

.form-myinventary{

    display: flex;
    max-width: 100%;
    margin: 0px 20px;
    flex-flow: row wrap;
    justify-content: space-between;

}

.container-nav > ul{

    list-style: none;

}

.textarea-profile{

    width: 100%;
    resize: none;
    padding: 5px;
    display: inherit;
    box-sizing: border-box;

}

.item-profile{

    width: 45%;
    display: flex;
    margin: 5px 0px;
    flex-direction: column;

}

.item-profile span{

    font-weight: 500;

}

.content-area{

    width: 100%;

}

.link-informacion{

    color: black;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;

}

.link-informacion>span{

    margin: 0px 5px 0px 0px;

}


.link-informacion:hover{

    text-decoration: none;

}

.active{

    background: var(--background-colorF);

}

.active .icon-container{

    background: var(--main-ColorE);
    box-shadow: 0px 0px 10px 0px rgba(232, 125, 130, 1);
}

.active span{

    font-weight: 500;

}

.container-input{

    width: 100%;

}

.icon-container{

    width: 30px;
    height: 30px;
    display: flex;
    background: var(--background-colorF);
    margin-left: auto;
    border-radius: 30px;

}

.icon-container > *{
    margin: auto;
    color: white;
}

.button{

    font-size: 16px;
    padding: 10px;
    margin: 10px 0px;

}

.container-input{

    background: transparent; 
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #0000005e;

}

.field{

    position: relative;

}

.iconPen{

    right: 0%;
    position: absolute;

}

.input-light{

    padding: 0px;

}

.error-input{

    border-bottom: 1px solid var(--main-ColorA) !important;

}

.success-input{

    border-bottom: 1px solid var(--secondary-ColorE) !important;

}

@media only screen and (max-width:700px){

    .link-informacion{

        width: 95%;
        display: flex;
        flex-direction: row;

    }

    .nav-container{

        display: flex;
        flex-direction: row;

    }

    .item-profile{

        width: 100%;

    }

    .container-nav{

        width: 100%;
        margin: 0px 10px;
    
    }

    .form-inve{

        max-width: none;

    }

    .li-container span{

        display: none;

    }

}