<section
    *ngIf="data"
    class="detailsProfile">
    <app-breadcrumb
        [url]="['Perfiles y permisos', data['Perfil']['nombre']]">
    </app-breadcrumb>
    <app-navigation-bar
        (valueClicked)="changeData($event)"
        [dataNavigation]="getNav">
    </app-navigation-bar>
    <div
        class="container-details">
        <div class="container-table">
            <app-table
                [data]="dataRes">
            </app-table>
        </div>
        <div class="details">
            <div 
                class="sub-details">
                <h2>Informacion general</h2>
                <p class="value">
                    <label>Perfil ID:</label>
                    <span>{{ data["Perfil"]["perfilId"] }}</span>
                </p>
                <p class="value">
                    <label>Nombre perfil:</label>
                    <span>{{ data["Perfil"]["nombre"] }}</span>
                </p>
                <p class="value">
                    <label>Descripcion:</label>
                    <span>{{ data["Perfil"]["descripcion"] }}</span>
                </p>
                <p class="value">
                    <label>Estado:</label>
                    <span>{{ data["Perfil"]["estado"]["nombre"] }}</span>
                </p>
            </div>
        </div>
    </div>
</section>