<section
    class="container-profiles">
    <app-breadcrumb
        [url]="['Perfil y permisos']">
    </app-breadcrumb>
    <div class="container-table">
        <app-table
            *ngIf="data.length > 0"
            [buttons]="getButton"
            [buttonRegister]="getButtonRegister"
            (buttonFunction)="executeFunction($event)"
            [actionButtons]="getButtonCircle"
            [data]="data"
            [headers]="['Id','Perfil','Estado']">
        </app-table>
    </div>
    <div
        [class.display-none]="modalProp.state == true"
        class="container-modal-create">
        <div
            class="modal-create">
                <header class="header-modal">
                    <span
                        class="span-title">
                        {{ modalProp.title }}
                    </span>
                    <div class="close-container">
                        <button (click)="setModal(true)">
                            X
                        </button>
                    </div>
                </header>
                <hr class="hr-profile">
                <input
                    [(ngModel)]="nombrePerfil"
                    class="input input-profile"
                    placeholder="Ingrese el nombre del nuevo perfil" 
                    type="text">
                <span class="text-example">
                    Ejemplo: Desarrollador
                </span>
                <input
                    [(ngModel)]="descripcion"
                    class="input input-profile"
                    placeholder="Ingrese una descripcion" 
                    type="text">
                <span class="text-example">
                    Ejemplo: Perfil para el manejo de...
                </span>
                <span
                    class="subTitle">
                    Otorgar permisos por pantalla
                </span>
                <div
                    *ngFor="let i of screen; index as x">
                    <button
                        (click)="changePosition(x)"
                        class="button-display">
                        {{ i[0] | titlecase }}
                        <fa-icon    
                            class="arrow-down" 
                            [icon]="faSortUp">
                        </fa-icon>
                    </button>
                    <div
                        [class.display-none]="i[1]==false"
                        *ngFor="let j of grants"
                        class="form-check">
                    <input
                        #checkGrants
                        class="form-check-input"
                        type="checkbox" 
                        value="{{ i[2] }}_{{ j[1] }}">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{ j[0] | titlecase }}
                    </label>
                </div>
            </div>
            <div
                class="container-buttons-modal">
                <button
                    (click)="getValueGrantsProfiles()"
                    class="button button-solid secondary text-start">
                    <span>Guardar cambios</span>
                    <div class="background-hover"></div>
                </button>
            <button
                (click)="setModal(true)" 
                    class="button button-light main text-start">
                    <span>Descartar cambios</span>
                    <div class="background-hover"></div>
                </button>
            </div>
        </div>
    </div>
</section>