<section class="detailsProfile">
    <app-breadcrumb
        [url]="['Inventario', 'Detalle de Inventario']">
    </app-breadcrumb>
    <!-- <app-navigation-bar
        (valueClicked)="changeData($event)"
        [dataNavigation]="dataNav">
    </app-navigation-bar> -->
    <div
        class="container-details">
        <div class="container-table">
            <app-table
            *ngIf="data"
                [data]="data"
                [paginationShow]="false"
                [pagination]=14>
            </app-table>
        </div>
    </div>
</section>
