.detailsProfile{

    padding: 0px 20px;
    margin: calc(var(--heigthHeader) + var(--defaultPadding)) 0px 0px 0px;

}

/* Estilos de lista de navegacion  */

.container-nav > ul{

    list-style: none;

}

.active{

    background: var(--background-colorF);

}

.active .icon-container{

    background: var(--main-ColorE);
    box-shadow: 0px 0px 10px 0px rgba(232, 125, 130, 1);
}

.active span{

    font-weight: 500;

}

.link-informacion{

    width: 100%;
    color: black;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 1px solid transparent;

}

.link-informacion>span{

    margin: 0px 5px 0px 0px;

}


.link-informacion:hover{

    text-decoration: none;

}

.icon-container{

    width: 30px;
    height: 30px;
    display: flex;
    background: var(--background-ColorF);
    margin-left: auto;
    border-radius: 30px;

}

.icon-container > *{
    margin: auto;
    color: white;
}

/* Estilos para el manejo de las tablas y la barra de navegacion */

.container-details{

    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px;
    justify-content: space-between;

}

.container-table{

    min-width: 100%;

}

@media only screen and (max-width:700px){

    .container-nav{

        width: 100%;
        margin: 0px 10px;
    
    }

    .nav-container{

        display: flex;
        flex-direction: row;

    }

    .li-container span{

        display: none;

    }

}